@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-style{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* share style */

.grey{
    color: #8987A1;
}

body{
    background-color: #F5F8FF;
}
/* heard-section */
nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
}
nav ul {
    display: flex;
    gap: 48px;
    
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #252432;
    font-size: 18px;
    font-weight: 500;
    
}



.home {
    font-weight: 700;
    color: #252432;
}

.cart {
    color: #000000;
    font-size: 16px;
}
.shop{
    color: #8987A1;
    font-size: 16px;
    
}
.about{
    color: #8987A1;
    font-size: 16px;
}

/* Banner-site */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px;
}
.banner-title {
    font-weight: bold;
    font-size: 4rem;
}
.banner-span {
    color: #E95A08;
}
.banner-paragraph {
    color: rgba(0, 0, 0, 0.5);
}

/* section-part */

.plant-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 90px;
    gap: 20px;
}
  
.plant-info {
    text-align: center;
}
.plant-description {
    text-align: center;
}
.plant-info h4 {
    font-weight: 600;
    font-size: 1.37rem;
    columns: #111111;
}
.plant-info h1 {
    color: #111111;
    font-size: 1.37rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 19px 80px;

}

/* IMG Part */

.trusted-badge {
    width: 286px;
    height: 286px;
    position: relative;
    top: 160px;
    right: -500px;
}

/* section-part -2 */

.latest-info {
    display: grid;
    gap: 20px;
    text-align: center;
}

.plant-lover {
    display: flex;
    gap: 90px;
    padding: 0px 130px;
    padding-bottom: 100px;
}
.lover-description {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lover-paragraph {
    display: grid;
    gap: 35px;
}
.lover-title {
       font-weight: bold;
       font-size: 3.125rem;
}

.latest-span {
       color: #E95A08;

}
.latest-title {
      font-weight: bold;
      font-size: 3.125rem;
}

/* section-img-part */

.text-color-1 {
    font-weight: bold;
    font-size: 1.25rem;
    color: #FFFFFF;
}
.text-color-2 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #FFFFFF;
}
.btn-1,.btn-2 {
    color: #FFFFFF;
}
.img-plant {
    display: flex;
    gap: 40px;
    padding: 120px 60px;
    text-align: center;
}
.display-img-1 {
    display: grid;
    gap: 25px;
}
.background-img-1 {
    background-image: url(../B12A02-Responsive-Flowers/assets/deal-bloom.png);
}
.background-img-2 {
    background-image: url(../B12A02-Responsive-Flowers/assets/deal-ana.png);
}
.background-img-3 {
    background-image: url(../B12A02-Responsive-Flowers/assets/deal-zabo.png);
}
@media screen and (max-width: 576px) {

    .home,
    .shop,
    .About {
        display: none;

    }

.nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 146;
        padding: 0px;
        position: absolute;
        width: 361px;
        height: 38px;
        left: 16px;
        top: 67px;

    }

    .banner-img {
        width: fit-content;
        height: fit-content;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 10px 10px;
    }
    .plant-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        gap: 20px;
    }

}